.Container {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
    padding: 0 15px;
    width: 100%;

    @include media-breakpoint-down(xxl) {
        max-width: 1140px;
    }

    @include media-breakpoint-down(xl) {
        max-width: 960px;
    }

    @include media-breakpoint-down(lg) {
        max-width: 720px;
    }

    @include media-breakpoint-down(md) {
        max-width: 540px;
    }
}
