$alice-blue: #f9f9ff;
$midnight: #202020;
$light-gray: #ededed;
$light-smoke: #d9d9d9;
$white-smoke: #eeeeee;
$medium-gray: #928e8e;
$bright-orange: #f89b1c;
$pale-gray: #f2f2f2;
$red: #ff0000;
$dark-gray: #333;
$dark-blue: #1c3041;
$teal-blue: #376184;
$steal-blue: #4982b4;
$aqua: #2fe6de;
$yellow: #ffff00;
$white-dashed: rgba(255, 255, 255, 0.2);
$apricot: #fbcd8d;
$transparent-gray: #80808080;
$transparent-white: rgba(255, 255, 255, 0.04);
$transparent-black: rgba(34, 34, 34, 0.75);
$transparent-dark: rgba(34, 34, 34, 0.9);
$transparent-purple: rgba(73, 63, 157, 0.65);
$background-button: linear-gradient(to right, $red 0%, $yellow 51%, $red 100%);
$background-play: linear-gradient(to right, $red 0%, $yellow 100%);
$background-midnight: linear-gradient(to right, $midnight 15%, $red 100%);
$background-card: linear-gradient(to right, #202020 10%, #8b0000 50%, #202020 90%);
$midnight-blue: #2c2172;
$light-steel: #bcc1c5;
$sky-blue: #86b7fe;
$dark-slate: #222222;
$shadow: 0px 10px 30px rgba(163, 255, 177, 0.2);
$shaow-dropdown: 0px 10px 30px 0px rgba(0, 0, 0, 0.4);
$shadow-content: 8px 10px 24px rgba(0, 0, 0, 0.1);
$transition: all 0.4s ease 0s;
$roboto: "Roboto", sans-serif;
$inter: Inter;
$anton: "Anton";
