.Modal-active {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    margin: 0;
    overflow: hidden;
    padding: 35px 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;

    &::after {
        background: $transparent-black;
        content: "";
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1;
    }

    &:hover {
        & button {
            display: none;
        }
    }

    & img {
        height: 100%;
        width: auto;
        z-index: 2;
    }
}
