<footer class="Footer">
    <div class="Container Footer-content">

        <div class="Footer-container-principal">
                <span class="Marvel-title Footer-marvel">M</span>
             

                <ul class="Footer-item">
                    <li class="Footer-link"><a>About Marvel</a></li>
                    <li class="Footer-link"><a>Help/Faqs</a></li>
                </ul>

                <ul class="Footer-item">
                    <li class="Footer-link"><a>Advertising</a></li>
                    <li class="Footer-link"><a>Marvelhq.com</a></li>
                    <li class="Footer-link"><a>Comics</a></li>
                </ul>

                <div class="Footer-item Footer-container-promotion">
                    <div class="Footer-promotion">
                        <img class="Footer-promotion-img" src="../assets/images/marvelInsider.png" />
                        <a class="Footer-promotion-text">Marvel Insider</a>
                    </div>

                    <div class="Footer-promotion">
                        <img class="Footer-promotion-img" src="../assets/images/marvelLimited.png" />
                        <a class="Footer-promotion-text">Marvel Unlimited</a>
                    </div>
                </div>


                <div class="Footer-item Footer-container-social">
                    <span class="Footer-link">Follow Marvel</span>
                    <div class="Footer-social">
                        <span class="fa-brands fa-square-facebook Footer-icons"></span>
                        <span class="fa-brands fa-twitter Footer-icons"></span>
                        <span class="fa-brands fa-instagram Footer-icons"></span>
                        <span class="fa-brands fa-youtube Footer-icons"></span>
                        <span class="fa-brands fa-snapchat Footer-icons"></span>
                        <span class="fa-brands fa-pinterest Footer-icons"></span>
                    </div>
                </div>

        </div>
        <ul class="Footer-container-secondary">
            <li><a class="Footer-conditions">Conditions For Use</a></li>
            <li><a class="Footer-conditions">Privacy Policy</a></li>
            <li><a class="Footer-conditions">Interest-based Ads</a></li>
            <li><a class="Footer-conditions">License Agreement</a></li>
            <li><span>©2023 Marvel</span></li>
        </ul>

    </div>

  </footer>