<footer class="Footer">
    <div class="Container Footer-content">

        <div class="Footer-container-principal">
                <span class="Marvel-title Footer-marvel">M</span>
             
                <ul class="Footer-item">
                    <li><a class="Footer-link" target="_blank" href="https://www.marvel.com/corporate/about">About Marvel</a></li>
                    <li><a class="Footer-link" target="_blank" href="https://help.marvel.com/hc/en-150">Help/Faqs</a></li>
                </ul>

                <ul class="Footer-item">
                    <li><a class="Footer-link" target="_blank" href="https://www.marvel.com/corporate/advertising">Advertising</a></li>
                    <li><a class="Footer-link" target="_blank" href="https://www.marvelhq.com/">Marvelhq.com</a></li>
                    <li><a class="Footer-link" target="_blank" href="https://www.marvel.com/comics?&options%5Boffset%5D=0&totalcount=12">Comics</a></li>
                </ul>

                <div class="Footer-item Footer-container-promotion">
                    <div class="Footer-promotion">
                        <img class="Footer-promotion-img" src="../assets/images/marvelInsider.png" />
                        <a target="_blank" href="https://www.marvel.com/insider" class="Footer-promotion-text">Marvel Insider</a>
                    </div>

                    <div class="Footer-promotion">
                        <img class="Footer-promotion-img" src="../assets/images/marvelLimited.png" />
                        <a target="_blank" href="https://www.marvel.com/mu-23themarvels?gad_source=1&gclid=CjwKCAiAx_GqBhBQEiwAlDNAZuErSwpJqyTLWT1MS0GufSwmMk0FpjMfQnmsGqScsqbAoSihkssMfhoCQTEQAvD_BwE" class="Footer-promotion-text">Marvel Unlimited</a>
                    </div>
                </div>


                <div class="Footer-item Footer-container-social">
                    <span class="Footer-link">Follow Marvel</span>
                    <div class="Footer-social">
                        <span class="fa-brands fa-square-facebook Footer-icons"></span>
                        <span class="fa-brands fa-twitter Footer-icons"></span>
                        <span class="fa-brands fa-instagram Footer-icons"></span>
                        <span class="fa-brands fa-youtube Footer-icons"></span>
                        <span class="fa-brands fa-snapchat Footer-icons"></span>
                        <span class="fa-brands fa-pinterest Footer-icons"></span>
                    </div>
                </div>

        </div>
        <ul class="Footer-container-secondary">
            <li><a target="_blank" href="https://disneytermsofuse.com/spanish-latin-american/" class="Footer-conditions">Conditions For Use</a></li>
            <li><a target="_blank" href="https://privacy.thewaltdisneycompany.com/es-es/politica-de-privacidad/" class="Footer-conditions">Privacy Policy</a></li>
            <li><a target="_blank" href="https://preferences-mgr.truste.com/?type=disneycolor&affiliateId=115" class="Footer-conditions">Interest-based Ads</a></li>
            <li><a target="_blank" href="https://www.marvel.com/corporate/license_tou" class="Footer-conditions">License Agreement</a></li>
            <li><span>©2023 Marvel</span></li>
        </ul>

    </div>

  </footer>