
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Marvel</title>
        <link href="https://unpkg.com/@csstools/normalize.css" rel="stylesheet" />
        <link rel="stylesheet" href="../assets/css/main.css" />
    </head>
    <body>
        <header class="Header">
            <nav class="navbar navbar-expand-lg navbar-dark Navbar">
                <div class="container">
                    <a href="/"> 
                        <img class="Navbar-logo" src="../assets/images/Marvel_Logo.png" alt="logo marver"/>
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                   
                    <div class="collapse navbar-collapse Navbar-menu" id="navbarNavDropdown">
                        <ul class="navbar-nav Navbar-options">
                            <li class="nav-item Navbar-item"><a href="/">Home</a></li>
                            <li class="nav-item Navbar-item"><a href="../pages/about.html">About</a></li>
                            <li class="nav-item Navbar-item"><a href="../pages/gallery.html">Gallery</a></li>
                            <li class="nav-item Navbar-item">
                                Pages
                                <ul class="Navbar-dropdown">
                                    <li class="Navbar-dropdown-item"><a href="../pages/pricing.html">Pricing</a></li>
                                    <li class="Navbar-dropdown-item"><a href="../pages/marvel.html">Marvel</a></li>
                                </ul>
                            </li>
                            <li class="nav-item Navbar-item">
                                Blog
                                <ul class="Navbar-dropdown">
                                    <li class="Navbar-dropdown-item"><a href="../pages/blog.html">Blog</a></li>
                                    <li class="Navbar-dropdown-item"><a href="../pages/details.html">Blog details</a></li>
                                </ul>
                            </li>
                            <li class="nav-item Navbar-item"><a href="../pages/contact.html">Contact</a></li>
                        </ul>
                        <a class="Button Navbar-button">Join us</a>
                    </div>
                </div>    
            </nav>
        </header>
    </body>
</html>