.Latest {
    padding-bottom: 80px;
    width: 100%;

    &-container {
        margin-top: 70px;

        &-image {
            overflow: hidden;
            width: 100%;
        }

        &-date {
            display: flex;
            font-size: 12px;
            gap: 23px;
            justify-content: center;
        }
    }

    &-card {
        background: $background-card;
        border-radius: 10px;
        color: $white;
        cursor: pointer;
        margin: 0 15px;
        max-width: 33.3%;
        overflow: hidden;
        width: 33.3%;

        &-body {
            padding: 20px 25px;
        }

        &-title {
            font-size: 18px;
            font-weight: 600;
            text-align: center;
        }

        &-text {
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            padding: 20px 0 40px;
            text-align: justify;
            transition: $transition;
        }

        &-icon {
            margin-right: 5px;
        }

        &-image {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: auto;
            object-fit: cover;
            transition: $transition;
            width: 100%;
        }

        &:hover {
            img:last-child {
                transform: scale(1.2);
            }
        }
    }

    @include media-breakpoint-down(lg) {
        &-card {
            max-width: 46.6%;
            width: 46.6%;
            &:last-child {
                display: none;
            }
        }
    }

    @include media-breakpoint-down(md) {
        &-container {
            gap: 40px;
        }

        &-card {
            margin: 0;
            max-width: 100%;
            width: 100%;
            &:last-child {
                display: flex;
                flex-direction: column;
            }
        }
    }
}
